<!DOCTYPE html>
<html>
<head>
<title>Sistema de Hackfests</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
	<div ng-app="" ng-controller="customersController">
	<button ng-click="refresh()">Refresh</button>
		<div  class="log" ng-repeat="x in posts">
			<h3>{{x.msg}}</h3>
			<a href="" ng-click="show_comments=true">{{x.comments.length}}</a>
			
			<div ng-show="show_comments" class="comments">
				<a href="" ng-click="show_comments=false">Hide</a>
				<div ng-repeat="y in x.comments">
					<h4>{{y.msg}}</h4>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		function customersController($scope,$http) {
			$scope.refresh = function() {
  			$http.get("http://localhost:9000/post")
  			.success(function(response) {$scope.posts = response;});
  			$scope.show_comments=false;
			}
		}
	</script>
	
</body>

</html>